.navbar {
  margin-bottom: 0;
}
.navbar-default .navbar-brand {
  color: #100b60;
  background-color: #fff;
}
.navbar-brand,
.masthead-logotype {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.3em;
}
#main-menu {
  font-family: 'Roboto', sans-serif;
  font-variant: small-caps;
}
#jumbotron-homepage .container h1 small {
  color: #100b60;
  font-family: 'Old Standard TT', serif;
   /* Fallback for web browsers that doesn't support RGBa */
  background: #cccccc;
  /* RGBa with 0.6 opacity */
  background: rgba(204, 204, 204, 0.7);
  padding-left: 5px;
  padding-right: 5px;
 font-variant: small-caps;
}
#jumbotron-homepage .container p.lead span {
  color: #100b60;
  /* Fallback for web browsers that doesn't support RGBa */
  background: #cccccc;
  /* RGBa with 0.6 opacity */
  background: rgba(204, 204, 204, 0.7);
  padding-left: 5px;
  padding-right: 5px;
}
@media all and (min-width: 551px) {
  #jumbotron-homepage {
    background: url('../css-images/MaxMilliganFerryNewColours_1280_640.jpg') no-repeat;
    background-size: cover;
  }
}
@media all and (max-width: 550px) {
  #jumbotron-homepage {
    background: url('../css-images/MaxMilliganFerryNewColours_500_500.jpg') no-repeat;
    background-size: cover;
  }
}

.gallery-tn {padding-bottom: 3px;}
