<html>
  <head>
    {{ partial "head-basics.html" . }}
    {{ partial "head-fonts.html" . }}
    <title>{{ .Title }}: Skye Ferry</title>
    {{ partial "head-styles.html" . }}
    {{ partial "head-favicons.html" . }}

    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="styles/css/bootstrap-image-gallery.min.css">

  </head>

  <body id="{{.Params.bodyid}}">

    {{ partial "body-nav.html" . }}

    <!-- main image -->
    {{ partial "body-main-image.html" . }}

    <!-- lightbox -->
    <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
    <!-- https://github.com/blueimp/Bootstrap-Image-Gallery -->

    <div id="blueimp-gallery" class="blueimp-gallery">
        <!-- The container for the modal slides -->
        <div class="slides"></div>
        <!-- Controls for the borderless lightbox -->
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
        <!-- The modal dialog, which will be used to wrap the lightbox content -->
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body next"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left prev">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            Previous
                        </button>
                        <button type="button" class="btn btn-primary next">
                            Next
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- main content -->
    <br>

           {{ .Content }}


<br><br>


    {{ partial "body-footer-nav.html" . }}
    {{ partial "body-footer-scripts.html" . }}

    <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    <script src="scripts/js/bootstrap-image-gallery.min.js"></script>

  </body>
</html>
