<nav class="navbar navbar-inverse" role="navigation">
  <ul class="nav navbar-nav" id="footer-links">

    <li><a id="pop-company" href="#pop-company" tabindex="0" data-toggle="popover" data-trigger="focus" data-placement="top" title="Skye Ferry CIC" data-content="Company Number: SC297537 (We are a Community Interest Company. )">Company Information</a></li>

    <li><a id="pop-gpt" href="#pop-gpt" tabindex="1" data-toggle="popover" data-trigger="focus" data-placement="top" title="Glenachulish Preservation Trust" data-content="We are supported by the charity, the Glenachulish Preservation Trust. See their site at http://gptskyeferrycharity.com for information.">Heritage Site</a></li>


</nav>
