// less styles specific to skye ferry additional to and using bootstrap

// Core variables and mixins
@import "variables.less";
@import "mixins.less";

//@masthead-bg-colour: #161e43;
@masthead-bg-colour: #374a72;


#masthead-logotype{
  font-family: 'Roboto', sans-serif;
  color: red;
}

#masthead-strapline{
  font-family: 'Old Standard TT', serif;
  font-variant: small-caps;
  color: blue;
}
